@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
$background-svg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='500' height='1000' preserveAspectRatio='none' viewBox='0 0 500 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='500' height='1000' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M80.52 69.95L145.48 107.45L145.48 182.45L80.52 219.95L15.57 182.45L15.57 107.45zM15.57 182.45L80.52 219.95L80.52 294.95L15.57 332.45L-49.38 294.95L-49.38 219.95zM15.57 407.45L80.52 444.95L80.52 519.95L15.57 557.45L-49.38 519.95L-49.38 444.95zM80.52 744.95L145.48 782.45L145.48 857.45L80.52 894.95L15.57 857.45L15.57 782.45zM15.57 857.45L80.52 894.95L80.52 969.95L15.57 1007.45L-49.38 969.95L-49.38 894.95zM210.43 69.95L275.38 107.45L275.38 182.45L210.43 219.95L145.48 182.45L145.48 107.45zM145.48 182.45L210.43 219.95L210.43 294.95L145.48 332.45L80.52 294.95L80.52 219.95zM145.48 407.45L210.43 444.95L210.43 519.95L145.48 557.45L80.52 519.95L80.52 444.95zM145.48 632.45L210.43 669.95L210.43 744.95L145.48 782.45L80.52 744.95L80.52 669.95zM210.43 969.95L275.38 1007.45L275.38 1082.45L210.43 1119.95L145.48 1082.45L145.48 1007.45zM275.38 407.45L340.34 444.95L340.34 519.95L275.38 557.45L210.43 519.95L210.43 444.95zM275.38 857.45L340.34 894.95L340.34 969.95L275.38 1007.45L210.43 969.95L210.43 894.95zM340.34 969.95L405.29 1007.45L405.29 1082.45L340.34 1119.95L275.38 1082.45L275.38 1007.45zM405.29 407.45L470.25 444.95L470.25 519.95L405.29 557.45L340.34 519.95L340.34 444.95zM470.25 519.95L535.2 557.45L535.2 632.45L470.25 669.95L405.29 632.45L405.29 557.45zM470.25 744.95L535.2 782.45L535.2 857.45L470.25 894.95L405.29 857.45L405.29 782.45z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M73.02 69.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM137.98 107.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM137.98 182.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM73.02 219.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM8.07 182.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM8.07 107.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM73.02 294.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM8.07 332.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-56.88 294.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-56.88 219.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM8.07 407.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM73.02 444.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM73.02 519.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM8.07 557.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-56.88 519.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-56.88 444.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM73.02 744.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM137.98 782.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM137.98 857.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM73.02 894.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM8.07 857.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM8.07 782.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM73.02 969.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM8.07 1007.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-56.88 969.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-56.88 894.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM202.93 69.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM267.88 107.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM267.88 182.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM202.93 219.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM202.93 294.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM137.98 332.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM137.98 407.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM202.93 444.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM202.93 519.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM137.98 557.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM137.98 632.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM202.93 669.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM202.93 744.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM73.02 669.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM202.93 969.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM267.88 1007.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM267.88 1082.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM202.93 1119.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM137.98 1082.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM137.98 1007.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM267.88 407.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM332.84 444.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM332.84 519.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM267.88 557.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM267.88 857.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM332.84 894.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM332.84 969.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM202.93 894.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM397.79 1007.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM397.79 1082.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM332.84 1119.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM397.79 407.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM462.75 444.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM462.75 519.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM397.79 557.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM527.7 557.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM527.7 632.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM462.75 669.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM397.79 632.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM462.75 744.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM527.7 782.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM527.7 857.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM462.75 894.95 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM397.79 857.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM397.79 782.45 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M25.23 261.26L68.53 286.26L68.53 336.26L25.23 361.26L-18.07 336.26L-18.07 286.26zM25.23 561.26L68.53 586.26L68.53 636.26L25.23 661.26L-18.07 636.26L-18.07 586.26zM111.84 111.26L155.14 136.26L155.14 186.26L111.84 211.26L68.53 186.26L68.53 136.26zM155.14 636.26L198.44 661.26L198.44 711.26L155.14 736.26L111.84 711.26L111.84 661.26zM198.44 261.26L241.74 286.26L241.74 336.26L198.44 361.26L155.14 336.26L155.14 286.26zM285.05 711.26L328.35 736.26L328.35 786.26L285.05 811.26L241.74 786.26L241.74 736.26zM328.35 936.26L371.65 961.26L371.65 1011.26L328.35 1036.26L285.05 1011.26L285.05 961.26zM458.26 -38.74L501.56 -13.74L501.56 36.26L458.26 61.26L414.95 36.26L414.95 -13.74zM501.56 336.26L544.86 361.26L544.86 411.26L501.56 436.26L458.26 411.26L458.26 361.26zM458.26 711.26L501.56 736.26L501.56 786.26L458.26 811.26L414.95 786.26L414.95 736.26zM458.26 861.26L501.56 886.26L501.56 936.26L458.26 961.26L414.95 936.26L414.95 886.26z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='500' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
$font-family: "Poppins", sans-serif;
$background: #242424;
$color-primary: #ffffff;
$color: #7f7f7f;
$color-text: #3d3d3d;

* {
  padding: 0;
  margin: 0;
  font-family: $font-family;
}

.container-fluid {
  background: #242424;
  color: $color-primary;
}

.side-one {
  background: $background-svg;
  color: $color-primary;
  height: 100vh;
}

.side-two {
  .container {
    padding: 5% 20%;
    // height: 100vh;
  }
  .content-header h4 {
    font-size: 2em;
    font-weight: bold;
  }
  .content-header p {
    color: $color;
    font-size: 15px;
  }
  .content-header p:nth-child(2) {
    margin: 0;
  }
  .content-header p:nth-child(3) {
    margin: 0px 0px 25px 0px;
  }

  .content-body {
    .form input {
      width: 100%;
      padding: 8px 20px;
      margin: 5px 0px;
      outline: none;
      border: 0.5px solid $color-text;
      background: transparent;
      border-radius: 5px;
      font-size: 0.9em;
      color: $color-primary;
    }
  }

  .content-footer {
    color: $color;
    .btn-submit {
      padding: 6px 30px;
      color: $color-primary;
      background: #4b72c2;
      border: 0;
      font-size: 0.9rem;
      border-radius: 5px;
      margin: 20px 0px;
      width: 150px;
    }
    .btn-submit:hover {
      background: #466ab3;
    }
    .span {
      font-size: 1em;
      font-weight: bold;
    }
  }
}
